.modal {
    padding-right: 0;
    .modal-dialog {
        max-width: fit-content;
    }
    .modal-header {
        border-bottom: none;
    }
}

.modal-backdrop {
    background-color:#000000BF;
    opacity: 1 !important;
}