section.sp_explore {
    background-color: $c3;
    padding: 45px 0;
    &:last-child {
        padding-bottom: 30px;
        @include screen('sm'){padding-bottom: 60px;}
        @include screen('md'){padding-bottom: 90px;}
    }
    .authors {color: #333;}
    .sp_explore-container {
        .sp_explore-title-container {
            .sp_explore-title {
                margin-bottom: 30px;
            }
        }
        .sp_explore-accordion-container {
            @include screen('sm'){margin-top: 30px;}
        }
        .sp_explore-hr {
            background-color: #FFF;
            border: 1px solid #FFF;
            opacity: 1;
            margin: 20px 0;
            @include screen('sm'){
                background-color: #F8F5F5;
                border: 1px solid #F8F5F5;
            }
        }
        .sp_explore-text-container {
            .assignment {font-weight: 700;}
            .project-desc {font-weight: 500;}
            .sp_explore-p-text {font-weight: 300;}
        }
        .sp_explore-row-img-container {
            text-align: center;
            .sp_explore-row-img {
                margin: 24px 0 40px;
                max-width: 290px;
                // box-shadow: 0 16px 40px rgba(0,0,0,0.12);
                border: 0;
                @include screen(480){max-width: 388px;}
                @include screen('sm'){
                    max-width: 280px;
                    padding: 0;
                    margin: 0;
                }
                @include screen('md'){
                    max-width: 388px;
                }
            }
            @include screen('sm'){
                text-align: end;
            }
        }
        .view-project-btn {
            margin-bottom: 45px;
            @include screen('sm'){margin-bottom: 0;}
        }
        .accordion-item {
            border: none;
            margin-bottom: 5px;
            box-shadow:0px 1px 2px 1px rgba(0,0,0,0.12);
            .col-xs-12.col-sm-6 {padding: 0;}
            .accordion-ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                li {
                    margin-bottom: 5px;
                    &::before {
                        content: '●';
                        color: $c1;
                        margin: -10px 5px 5px -15px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .accordion-header {
                font-size: 14px;
            }
            .accordion-button {
                background-color: #333;
                color: #FFF;
                height: 40px;
                border-radius: 0;
                font-size: 14px;
                line-height: 18px;
                @include screen('sm'){
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .accordion-button:focus {
                border: none !important;
                box-shadow: none !important;
            }
            .accordion-button:not(.collapsed) {
                background-color: #707070;
            }
            .accordion-button.collapsed::after {
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22 22' style='enable-background:new 0 0 22 22;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23707070;%7D%0A%3C/style%3E%3Cg id='Ellipse_6'%3E%3Ccircle class='st0' cx='11' cy='11' r='11'/%3E%3C/g%3E%3Cg id='Group_216'%3E%3Cg id='Line_47'%3E%3Crect x='9.5' y='5' class='st1' width='3' height='12'/%3E%3C/g%3E%3Cg id='Line_48'%3E%3Crect x='5' y='9.5' class='st1' width='12' height='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
            .accordion-button:not(.collapsed)::after {
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 22 22' style='enable-background:new 0 0 22 22;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23707070;%7D%0A%3C/style%3E%3Ccircle id='Ellipse_6' class='st0' cx='11' cy='11' r='11'/%3E%3Cg id='Group_216'%3E%3Cg id='Line_48'%3E%3Crect x='5' y='9.5' class='st1' width='12' height='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
            .accordion-body {margin-left: 10px;}
        }
    }
    @include screen('sm'){
        padding: 60px 0;
        .sp_explore-container {
            padding-left: 0;
            padding-right: 0;
            .sp_explore-title-container {
                .sp_explore-title {
                    margin-bottom: 60px;
                }
            }
        }
        .sp_explore-row {
            background-color: #FFF;
            padding: 60px 10px;
            &.project-one {
                .sp_explore-row-img-container {
                    text-align: right;
                    .sp_explore-row-img {
                        margin: 0;
                    }
                }
            }
            &.project-two {
                background-color: #F8F5F5;
                .sp_explore-row-img-container {
                    text-align: left;
                }
                .sp_explore-hr {
                    background-color: #FFF;
                    border: 1px solid #FFF;
                    opacity: 1;
                }
            }
        }
    }
    @include screen('md'){
        padding: 90px 0;
        .sp_explore-row {
            padding: 90px 10px;
        }
        .sp_explore-container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @include screen('lg'){
        .sp_explore-row {
            padding: 90px 70px;
        }
    }
}
