#nasdaq {
    margin-top: 45px;
    margin-bottom: 55px;
    .nasdaq_title-container {
        .nasdaq_title {
            padding-bottom: 35px;
        }
    }
    .nasdaq_container {
        padding: 20px 15px 15px;
        font-weight: 300;
    }
    .nasdaq_objective-container {
        background-color: #F8F5F5;
        .nasdaq_objective-subtitle {
            margin-bottom: 20px;
        }
        .nasdaq_objective-row-container {
            margin-top: 20px;
            .column-one {
                padding-right: 30px;
            }
            .column-two {
                padding-left: 30px;
            }
            .nasdaq_objective-column {
                .nasdaq_objective-column-p {
                    margin-bottom: 20px;
                }
                .nasdaq_objective-column-ul {
                    list-style: none;
                    padding-left: 0;
                    li {
                        margin-bottom: 20px;
                        &::before {
                            content: '●';
                            color: $c1;
                            margin: -10px 5px 5px -15px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .nasdaq_problem-container {
        background-color: #FFFFFF;
        .nasdaq_problem-subtitle {
            margin-bottom: 20px;
        }
    }
    .nasdaq_solution-container {
        background-color: #F8F5F5;
        .nasdaq_solution-subtitle {
            margin-bottom: 20px;
        }
        .nasdaq_solution-img-list-row {
            margin-top: 40px;
            .nasdaq_solution-img {
                width: 60px;
                height: 60px;
            }
            .nasdaq_solution-p {
                margin-top: 10px;
                padding-left: 20px;
            }
            .nasdaq_solution-img-container {
                text-align: center;
                margin-bottom: 25px;
            }
        }
    }
    .nasdaq_repo-container {
        .nasdaq_repo-subtitle {
            margin-bottom: 30px;
        }
        .nasdaq_repo-img-container {
            text-align: center;
            .nasdaq_repo-img {
                margin-bottom: 30px;
            }
            .mobile {
                max-width: 320px;
                margin: 0 auto;
            }
        }
        .nasdaq_repo-ul {
            padding-left: 10px;
            li {
                margin-top: 20px;
                font-size: 14px;
                &::marker {
                    color: $c1;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }
    .nasdaq_process-container {
        .nasdaq_process-subtitle {
            margin-bottom: 30px;
        }
        .nasdaq_process-img-container {
            text-align: center;
            margin-bottom: 20px;
            .nasdaq_process-img {
                max-width: 260px;
                margin: 0 auto;
                @include screen(480){max-width: 360px;}
            }
        }
        .nasdaq_process-ul {
            font-size: 14px;
            li {margin-top: 10px;}
            @include screen('sm'){font-size: 16px;}
            @include screen('md'){
                display: flex;
                li {width: 33%;}
            }
        }
        .nasdaq_process-ul-future {
            padding-left: 28px;
            li {
                font-size: 14px;
                margin-bottom: 10px;
                &::marker {
                    color: $c1;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            @include screen('sm'){
                li {font-size: 16px;}
            }
        }
        .nasdaq_process-ol {
            padding-left: 15px;
            li {
                margin-top: 20px;
                font-size: 14px;
                &::marker {
                    color: $c1;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            @include screen('sm'){
                li {font-size: 16px;}
            }
        }
    }
    .nasdaq_results-container {
        background-color: #F8F5F5;
        .nasdaq_results-img-container {
            text-align: center;
            margin-bottom: 20px;
            .nasdaq_results-img {
                max-width: 260px;
                margin: 0 auto;
                @include screen(480){max-width: 360px;}
            }
        }
    }
    .nasdaq_takeaway-container {
        .nasdaq_takeaway-ol {
            padding-left: 15px;
            li {
                margin-top: 20px;
                font-size: 14px;
                &::marker {
                    color: $c1;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            @include screen('sm'){
                li {font-size: 16px;}
            }
        }
    }
    @include screen('sm'){
        .nasdaq_container {
            padding: 35px;
        }
        .nasdaq_solution-container {
            .nasdaq_solution-img-list-row {
                align-items: center;
                .nasdaq_solution-p {
                    margin-top: 10px;
                    padding-left: 20px;
                }
            }
        }
    }
    @include screen('md'){
        margin-top: 70px;
        margin-bottom: 80px;
        .nasdaq_title-container {
            .nasdaq_title {
                padding-bottom: 60px;
                padding-left: 0;
            }
        }
        .nasdaq_solution-container {
            .nasdaq_solution-img-list-row {
                .nasdaq_solution-img {
                    width: 60px;
                    height: 60px;
                }
                .nasdaq_solution-p {
                    padding-left: 0;
                }
            }
        }
    }
}